@media (min-width: 1060px) {
    
    .descricao{
        width: 50%;
    }
}

@media (max-width: 1060px) {
    
    .menu-esquerda nav a {
        font-size: 18px;
        padding: 5px;
    }
}

@media  (max-width: 980px) {

    .menu-esquerda nav a {
        font-size: 16px;
        padding: 5px;
    }

    .menu-direita {
        display: none;
    }

    .menu-mobile {
        display: block;
    }
}

@media (max-width: 700px) {

    .menu-esquerda {
        flex-direction: column;
        align-items: initial;
    }

    .menu-esquerda nav {
        margin-left: 10px;
    }

    .menu-esquerda nav a {
        padding: 1px;
    }
}

@media (max-width: 620px) {
    
    .botoes{
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-bottom: 10px;
        padding: 5px;
        width: 200px;
        height: 40px;
    }
}

@media (max-width: 400px) {

    .menu-mobile {
        margin-right: 5px;
    }

    .menu-esquerda nav a{
        margin: 0;
    }

}
